.splash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #502F0F;
  text-align: center;
}

.welcome-screen {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 300px;
  height: auto;
}

button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: #C5AC94;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
